.fullscreenOnMobile-ixj0e3 .assetsLargeImageSpotify-17ME3M {
  animation: spin 20s linear infinite;
  border-radius: 6000%;
  border-radius: 6000%;
  box-sizing: border-box;
  padding-top: 90px;
  background-size: cover;
  background-image: url(https://media.discordapp.net/attachments/973093375823736875/981396027041005609/Spotify_logo_without_text.svg.png);
}
.userPopout-2j1gM4 .assetsLargeImageSpotify-17ME3M{
  animation: spin 20s linear infinite;
  border-radius: 6000%;
  border-radius: 6000%;
  box-sizing: border-box;
  padding-top: 60px;
  background-size: cover;
  background-image: url(https://media.discordapp.net/attachments/973093375823736875/981396027041005609/Spotify_logo_without_text.svg.png);
}
@keyframes spin {
  from {transform: rotate(0);}
  to {transform: rotate(380deg);}
}
